#main_login_container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 65px;
    height: 100vh;
}

#login_form {
    height: auto;
    border: 2px solid white;
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    min-height: 60%;
    filter: none;
    background-color: rgb(0, 0, 0, .5);
    backdrop-filter: blur(5px);
}

#login_form div {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    box-sizing: border-box;
}

#login_form div h1 {
    font-size: 30px;
    margin-right: 20px;
}

#login_form div input {
    background: none;
    border: none;
    border-bottom: 2px solid blueviolet;
    color: white;
    width: 40%;
    font-size: 18px;
}

#login_form div input:focus {
    outline: none;
}

#login_form div button {
    border-radius: 100px;
    width: 25%;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: black;
    color: white;
    border: 2px solid blueviolet;
}

#login_form div button:hover {
    background-color: blueviolet;
    transition: 200ms ease-in;
}

#login_form div button:focus {
    outline: none;
}